{% case include.chapter %}
{% when '1' %}
  {% assign breakAfter = "Lesson 7" %}
{% when '2' %}
  {% assign breakAfter = "Lesson 14" %}
  {% assign skipUntil = "Lesson 7" %}
{% when '3' %}
  {% assign breakAfter = "Lesson 21" %}
  {% assign skipUntil = "Lesson 14" %}
{% endcase %}
<ul>
{% assign ways_sorted = site.ways | sort: 'order' %}
{% for way in ways_sorted %}
  {% if way.title == skipUntil %}{% assign skipUntil = false %}{% continue %}{% endif %}
  {% if skipUntil %}{% continue %}{% endif %}
  <li>
    <a href="{{ way.url | absolute_url }}">
      {{ way.title }}: {{ way.subtitle }}
    </a>
  </li>
  {% if way.title == breakAfter %}{% break %}{% endif %}
{% endfor %}
</ul>
