<p>No way!</p>

<p>This chapter hasn't been published yet. <i>21 Ways</i> is a work in progress,
more stuff will be released as it's ready.</p>

<p>Join my Patreon if you want to get access to early drafts and related material.</p>

<hr/>

<div class="action-buttons">
  <div class="button button-red button-large">
    <a href="https://patreon.com/dergigi"><i class="fab fa-patreon"></i> &nbsp; Become a Patron</a>
  </div>
  <small>
    (or
    <a href="https://dergigi.com/support">support me</a>
    in another way
    )
  </small>
</div>
