{% assign toc_pages = site.pages | where: "toc", true %}
{% assign pages_sorted = toc_pages | concat: site.ways | sort: 'order' %}

<ul>
{% for way in pages_sorted %}
  <li>
    <a href="{{ way.url | absolute_url }}">
      {{ way.title }}
      {% if way.title contains 'Lesson ' or way.title contains 'Chapter ' %} : {{ way.subtitle }} {% endif %}
    </a>
  </li>

  <!-- Sub-lists for each chapter -->
  {% if way.title contains 'Chapter' %}<ul>{% endif %}
  {% if way.title == 'Lesson 7' %}</ul>{% endif %}
  {% if way.title == 'Lesson 14' %}</ul>{% endif %}
  {% if way.title == 'Lesson 21' %}</ul>{% endif %}
{% endfor %}
</ul>
