{% assign toc_pages = site.pages | where: "toc", true %}
{% assign pages_sorted = toc_pages | concat: site.ways | sort: 'order' %}

<ul>
{% for way in pages_sorted %}
  {% if way.order == 'ch1-01' %}<li>21 Ways: Bitcoin Is …</li><ol>{% endif %}

  <li>
    {% if way.layout == 'way' %}
      {% if way.link %}
      <a href="{{ way.link }}">{{ way.title }}</a>
      {% else %}
      <a href="{{ way.url | absolute_url }}">{{ way.title }}</a>
      {% endif %}
    {% else %}
      {{ way.title }}
    {% endif %}
  </li>

  {% if way.order == 'ch1-21' %}</ol>{% endif %}
{% endfor %}
</ul>
